@import 'variables';

#component_navbar {
    background-color: #4A0F85;

    a {
        color: white;
    }

    a:hover {
        color: #FFC47D;
    }

    .btn {
        background-color: $btn-primary-color;
        color: white;
        border-radius: 10px;
    }

    .btn:hover {
        background-color: darken($btn-primary-color, 10%);
    }

    .btn:active {
        background-color: darken($btn-primary-color, 30%);
    }
}