
   /* .homeback{
          transform: translate(-50%, -50%);
          height: 700px;
          width: 1400px;
          border-radius: 150px 150px 0 0;
      
    background-image: #4A0F85;;
  }  */
  /* road map */
  .roadmap{
      position:relative;
      margin-top:30px ;
          height: 65rem;
          width: 100%;
          /* background: #E5E5E5; */
          padding:2rem;
      }
      .roadmap .roadmap-img-lp{
        position:absolute;
        left:40%;
        transform: translate(-40%,0);
        width:90%;
        /* height:; */
        display:block;
        top:6rem;
      }
      .roadmap .roadmap-img-mb{
        display:none;
      }
      .program-info{
        position:absolute;
        top:20px;
        left:20px;
        width:25rem;
        /* height:7rem; */
        padding:20px 10px;
        background: #ECECEC;
        border: 4px solid rgba(250, 165, 59, 0.6);
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 13px;
      
      }
      .program-info  p{
        color: #616162;
        font-family: Myanmar Khyay;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 154.7%;
      }
      .program-info span{
        font-family: Myanmar Khyay;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 40px;
      
        color: #FAA53B;
      
        
      }
      .program-info1{
      position:absolute;
      top:50rem;
      right:20px;
      width:25rem;
      /* min-height:200px; */
      padding:5px;
      background: #ECECEC;
      border: 4px solid rgba(0, 38, 71, 0.59);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 13px;
      }
      .program-info1 div p:nth-child(1){
        font-family: Myanmar Khyay;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        color: #777777;
      }
      .program-info1 div p:nth-child(2){
      font-family: Myanmar Khyay;
      font-style: normal;
      font-weight: normal;
      font-size: 21px;
      line-height: 28px;
      text-align: center;
      
      color: #002647;
      }
      
      .roadmap-think-imagery{
      display:none;
      }
      .program-part1{
        position:absolute;
        width:230px;
        top:24rem;
        left:5%;
      }
      .program-part2{
        position:absolute;
        width:230px;
        top:12rem;
        left:15%;
      }
      .program-part3{
        position:absolute;
        width:300px;
        bottom:12rem;
        left:30%;
      }
      
      .program-part4{
        position:absolute;
        width:300px;
        top:6rem;
        left:40%;
      }
      
      .program-part1 .p1{
        font-family: Myanmar Khyay;
        font-style: normal;
        font-weight: normal;
        font-size: 23px;
        line-height: 18px;
        text-align: center;
        color: #FAA53B;
      }
      .program-part1 .p2{
        font-family: Myanmar Khyay;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      text-align: center;
      color: #000000;
      }
      .program-part2 .p1{
        font-family: Myanmar Khyay;
        font-style: normal;
        font-weight: normal;
        font-size: 23px;
        line-height: 18px;
        text-align: center;
        color: #BF37FF;
      }
      .program-part2 .p2{
        font-family: Myanmar Khyay;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        text-align: center;
        color: #000000;
      }
      
      .program-part3 .p1{
        font-family: Myanmar Khyay;
        font-style: normal;
        font-weight: normal;
        font-size: 23px;
        line-height: 18px;
        text-align: center;
        color: #2371B9;
      }
      .program-part3 .p2{
        font-family: Myanmar Khyay;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        text-align: center;
        color: #000000;
      }
      .program-part4 .p1{
        font-family: Myanmar Khyay;
        font-style: normal;
        font-weight: normal;
        font-size: 23px;
        line-height: 18px;
        text-align: center;
        color: #01AA12;
      }
      .program-part4 .p2{
        font-family: Myanmar Khyay;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      text-align: center;
      color: #000000;
      }
      
      .program-part1-img,.program-part2-img,.program-part3-img,.program-part4-img,.program-part5-img{
      display:none;
      }
      
      @media  only screen and (max-width:768px){
        .program-part1-img,.program-part2-img,.program-part3-img,.program-part4-img,.program-part5-img{
          display:block;
          }
        .roadmap{
              height:auto;
              /* padding-bottom:20px; */
          }
      
        .roadmap .roadmap-img-mb{
          margin-top:7.5rem;
          display:block;
          margin-left: -30px;
          /* height:50rem; */
        }
        .roadmap .roadmap-img-lp{
          display:none;
        }
      
        .roadmap-think-imagery{
          /* position:absolute; */
          margin-top:-60px;
          margin-left:0;
          display:block;
          /* width:15rem;  */
          }
      
        .program-info{
          position:absolute;
          top:20px;
          left:3rem;
          width:80%;
          padding:10px;
          background: #ECECEC;
          border: 3px solid rgba(250, 165, 59, 0.6);
          box-sizing: border-box;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 12px;
        
        }
      
        .program-info  p{
        color: #616162;
        font-family: Myanmar Khyay;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        }
        .program-info span{
          font-family: Myanmar Khyay;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          color: #FAA53B;
        }
        .program-info1{
          position:absolute;
          top:65rem;
          /* bottom:8rem; */
          left:17%;
          width:80%;
          padding:10px 5px;
          background: #ECECEC;
          border: 4px solid rgba(0, 38, 71, 0.59);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 13px;
          }
          .program-info1 div p:nth-child(1){
            font-family: Myanmar Khyay;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 24px;
            text-align: center;
            color: #777777;
          }
          .program-info1 div p:nth-child(2){
            font-family: Myanmar Khyay;
          font-style: normal;
          font-weight: normal;
          font-size: 21px;
          line-height: 28px;
          text-align: center;
          color: #002647;
          }
          
        .program-part1{
          position:absolute;
          width:70%;
          top:14.5rem;
          left:16%;
        }
        .program-part1-img{
          position: absolute;
          top:9rem;
          left:2.6rem;
        }
        .program-part2{
          position:absolute;
          width:70%;
          top:27rem;
          left:16%;
        }
        .program-part2-img{
          position: absolute;
          top:22rem;
          left:2.6rem;
        }
        .program-part3{
          position:absolute;
          width:70%;
          top:40rem;
          left:16%;
        }
        .program-part3-img{
          position: absolute;
          top:35rem;
          left:2.6rem;
        }
        .program-part4{
          position:absolute;
          width:70%;
          top:53rem;
          left:16%;
        }
        .program-part4-img{
          position: absolute;
          top:48rem;
          left:2.6rem;
        }
        .program-part5-img{
          position: absolute;
          top:60rem;
          left:2.6rem;
        }
        .p1{
          font-family: Myanmar Khyay;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 15px;
          /* text-align: center; */
        }
        .p2{
          font-family: Myanmar Khyay;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          /* text-align: center; */
        }
        .program-part1 .p1{
          color: #FAA53B;
        }
        .program-part1 .p2{
          color: #000000;
        }
        .program-part2 .p1{
          color: #BF37FF;
        }
        .program-part2 .p2{
          color: #000000;
        }
        .program-part3 .p1{
          color: #2371B9;
        }
        .program-part3 .p2{
          color: #000000;
        }
        .program-part4 .p1{
          color: #01AA12;
        }
        .program-part4 .p2{
        color: #000000;
        }
      
      
      }