$primary-color:hsla(270, 57%, 35%, 1);
$btn-primary-color:hsla(270, 59%, 57%, 1);
$btn-secondary-color:hsla(33, 100%, 59%, 1);
$text-primary-color: hsla(270, 80%, 29%, 1);
$chatbox-primary-color:hsla(270, 80%, 29%, 0.77);
$chatbox-secondary-color:hsla(33, 95%, 61%, 0.94);